body{
    background-color: black;
}

#lienzo{
    width: 300px;
    height: 300px;
    border: 2px white solid;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cara{
    width: 60%;
    height: 60%;
    border: 2px white solid;
    background-color: gray;
    border-radius: 50%;
    position: relative;
}

.ojo{
    width: 20%;
    height: 20%;
    border: 2px white solid;
    background-color: gray;
    border-radius: 50%;
     top: 25%;
    position: absolute;
}
#ojode{
    left: 20%;
}
#ojoiz{
    right: 20%;
}

#boca{
    width: 50%;
    height: 1%;
    border: 2px white solid;
    background-color: gray;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
