body {
    background-color: black;
    color: azure;
}
img{
    height: 200px;
    width: auto;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}