body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#lienzo{
    width: 300px;
    height: 300px;
    border: 2px solid white;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cara{
    width: 200px;
    height: 200px;
    background-color: #dcdcdc; 
    border-radius: 50%;
    position: relative;
    border: 2px solid white;
}

.ojo{
    width: 40px;
    height: 30px;
    background-color: black;
    border-radius: 50% 50% 40% 40%;
    position: absolute;
    top: 70px;
}

#ojode{ left: 35px; }
#ojoiz{ right: 35px; }

#ojode:hover{background-color: darkmagenta;}
#ojoiz:hover{background-color: darkmagenta;}

#boca{
    width: 60px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.lagrima{
    width: 6px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 100px;
}
#lagrima1{ left: 60px; }
#lagrima2{ right: 60px; }

#ojode{ left: 35px; }
#ojoiz{ right: 35px; }

#boca{
    width: 60px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
}

#cruz{
    width: 4px;
    height: 25px;
    background-color: black;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: cruz;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
#cruz::after{
    content: "";
    width: 12px;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 8px;
    left: -4px;
    animation-name: cruz;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes cruz {
    0% {background-color: #1a1a1a;}
    50% {background-color: #bc0808;}
    100% {background-color: #1a1a1a;}
}

.lagrima{
    width: 6px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 100px;
}
#lagrima1{ left: 60px; }
#lagrima2{ right: 60px; }
